{% extends "one/build.html" %}



{% block header %}
    {% include "one/navbar.html" %}
{% endblock header %}
{% block main %}
<h1>Я остановился на подключениии static.</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
<h1>Hello main</h1>
{% endblock main %}
{% block footer %}
    {% include "one/footer.html" %}
{% endblock footer %}

